*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 211, 211);
    font-family: verdana;
}
header{
    background-color: white;
    vertical-align: middle;
}
img{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
main{
    background-color: white;
    margin: 2rem 10rem .5rem 10rem;
    padding: 5rem;
}
.Editorial {
    display: inline-block;
    background-color: lightblue;
    font-size: small;
    border-radius: 15px;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
.q1{
    
    display: inline-block;
    background-color: rgb(224, 153, 230);
    font-size: small;
    border-radius: 15px;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;

}